<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.genshintool.dao.BossDao">

    <resultMap id="BossMapper" type="pers.genshintool.pojo.BossPojo">
        <id property="sumCAM" column="sumCAM"></id>
        <result property="camL" column="camL"></result>
        <result property="camU" column="camU"></result>
        <result property="camA" column="camA"></result>
        <result property="camB" column="camB"></result>
        <result property="camC" column="camC"></result>
        <result property="camD" column="camD"></result>
        <result property="timeCAM" column="timeCAM"></result>
    </resultMap>

    <select id="doBossSubmitDao" resultType="bosspojo">
        insert into CAM(SUMCAM,CAML,CAMU,CAMA,CAMB,CAMC,CAMD,TIMECAM)
        values(#{sumCAM},#{camL},#{camU},#{camA},#{camB},#{camC},#{camD},#{timeCAM})
    </select>

</mapper>