<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.genshintool.dao.MaterialDao">

    <resultMap id="MaterialMap" type="pers.genshintool.pojo.MaterialPojo">
        <id property="MaterialDay" column="MaterialDay"></id>
        <result property="MaterialName" column="MaterialName"></result>
        <result property="FileName" column="FileName"></result>
    </resultMap>

    <select id="getMaterialTodayListDao" resultType="materialpojo">
        select MaterialName,FileName from Material where MaterialDay=#{MaterialDay}
    </select>

</mapper>