<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.genshintool.dao.SandsDao">

    <resultMap id="SandsMapper" type="com.genshintool.pojo.SandsPojo">
        <id property="timeSands" column="timeSands"></id>
        <result property="emSands" column="emSands"></result>
        <result property="erSands" column="erSands"></result>
        <result property="atkSands" column="atkSands"></result>
        <result property="defSands" column="defSands"></result>
        <result property="hpSands" column="hpSands"></result>
    </resultMap>

    <select id="doSandsSubmitDao" resultType="sandspojo">
        insert into SANDS(EMSANDS,ERSANDS,ATKSANDS,DEFSANDS,HPSANDS,TIMESANDS)
        values(#{emSands},#{erSands},#{atkSands},#{defSands},#{hpSands},#{timeSands})
    </select>

</mapper>